<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Definir el bean para EmailNotificationService -->
    <bean id="emailNotificationService" class="com.emision.demo.EmailNotificationService"/>

    <!-- Definir el bean para UserService e inyectar la dependencia NotificationService -->
    <bean id="userService" class="com.emision.demo.UserService">
        <constructor-arg ref="emailNotificationService"/>
    </bean>

</beans>